/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --background-color: #000028;
  --text-color: #000028;
  --title-color: #db00ff;
  --main-text-color: #f1b2ce;
  --button-color: #ff0070;
  --decor-element-color: #ff0070;
  --btn-hover-color: rgba(255, 0, 112, 0.4);
  --btn-focus-color: #ff0070;
  --btn-active-color: #ff0070;
  --link-hover-color: #f1b2ce;
  --link-focus-color: #f1b2ce;
  --visibility-rec: visible;
  --background-image: url("../images/cover-image-dark.png");
  --main-font: "IBM Plex mono", "Arial", sans-serif;
}
